name: slot_data_analysis

on:
  workflow_dispatch:   # 手動実行可能
  # push:
  #   branches: [ main ] # mainブランチにpushされたら実行

jobs:
  run-scraping:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install playwright
          playwright install
          playwright install-deps

      - name: Run Playwright script
        # run: python scraper/scraping_hall_page.py
        # run: python scraper/scraping_date_page.py
        # run: python scraper/scraping_model_page.py
        run: python scraper/scraping_results.py

      - name: Save scraped results
        uses: actions/upload-artifact@v4
        with:
          name: scraped-results
          path: data/  # フォルダ全体



          
